@charset="UTF-8"

*{
	width: 0;
	padding: 0;
}

body{
	max-width: 1000px;
	margin: 0 auto;
}

.fram{
	margin:10px 10px 0px 10px;
	height: 8%;
	border: 1px solid;
	padding: 5px;
}

header a{
	font-size: 1.5em;
	margin: 10px;
}


header form{
	margin: 10px;
	width: 75%;
	display: inline-block;
	
}
header form #text{
	width: 100%;
}

#container{
	height: 900px;
	margin-top:0px;
	border-top: 0px;
	padding: 1% 10% ;
}

#container img{
	width: 100%;

}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  background-color:black;
  border-radius:10px;
  cursor: pointer;
}

#button{
	padding: 10px;
	padding-left: 40%;
}

#quotes{
	display: inline-block;
	width: 30%;
	height: 300px;
	border: 1px solid;
	text-align: center;
	line-height:300px;
}

#video{
	display: inline-block;
	float: right;

}

